<div class="w-screen h-screen flex flex-col justify-center items-center bg-gray-200 dark:bg-gray-800">
  <div class="w-full h-full flex flex-col justify-center items-center">
    <div>
      <select [ngModel]="dataSetName()" (ngModelChange)="changeDataSet($event)" (change)="onDataSetChange($event)"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        @for (item of dataSetNames; track $index) {
        <option value="{{item}}">{{item}}</option>
        }
      </select>
    </div>
    <div class="my-5 text-gray-800 dark:text-gray-200">是否完成：{{finished()?'✅':'❌'}}</div>
    <div class="w-9/12 flex justify-center items-center">
      <div class="flex flex-col board">
        @for (rows of board(); track $index; let row = $index) {
        <div class="w-full h-20 flex justify-center items-center">
          @for (col of rows; track $index) {
          <app-sokoban-cell [cell]="col"></app-sokoban-cell>
          }
        </div>
        }
      </div>
    </div>
    <div class="w-full flex justify-center items-center mt-5">
      <button class="w-64 h-20 bg-blue-400 border rounded-md" [routerLink]="['board-gen']">地图生成</button>
    </div>
  </div>
</div>
