<div
  class="flex h-screen w-screen flex-col items-center justify-center bg-gray-200 dark:bg-gray-800"
>
  <div class="flex h-full w-full flex-col items-center justify-center">
    <div>
      <select
        [ngModel]="dataSetName()"
        (ngModelChange)="changeDataSet($event)"
        (change)="onDataSetChange($event)"
        class="block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
      >
        @for (item of dataSetNames; track $index) {
          <option value="{{ item }}">{{ item }}</option>
        }
      </select>
    </div>
    <div class="my-5 text-gray-800 dark:text-gray-200">
      是否完成：{{ finished() ? "✅" : "❌" }}
    </div>
    <div class="flex w-9/12 items-center justify-center">
      <div class="board flex flex-col">
        @for (rows of board(); track $index; let row = $index) {
          <div class="flex h-20 w-full items-center justify-center">
            @for (col of rows; track $index) {
              <app-sokoban-cell [cell]="col"></app-sokoban-cell>
            }
          </div>
        }
      </div>
    </div>
    <div class="mt-5 flex w-full items-center justify-center">
      <button
        class="h-20 w-64 rounded-md border bg-blue-400"
        [routerLink]="['board-gen']"
      >
        地图生成
      </button>
    </div>
  </div>
</div>
