<div
  class="flex h-screen w-screen flex-col items-center justify-center dark:bg-gray-800"
>
  <div
    class="flex h-20 w-full items-center justify-center text-2xl text-zinc-600 dark:text-zinc-200"
  >
    推箱子地图生成器
  </div>
  <div
    class="flex w-full items-center justify-center text-zinc-600 dark:text-zinc-200"
  >
    <div class="mr-5 flex w-1/2 items-center justify-end">
      行数:
      <select
        [(ngModel)]="rows"
        (ngModelChange)="onRowsColsChange()"
        class="block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
      >
        <option [value]="8">8</option>
        <option [value]="9">9</option>
        <option [value]="10">10</option>
        <option [value]="11">11</option>
        <option [value]="12">12</option>
      </select>
    </div>
    <div class="ml-5 flex w-1/2 items-center justify-start">
      列数:
      <select
        [(ngModel)]="cols"
        (ngModelChange)="onRowsColsChange()"
        class="block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
      >
        <option [value]="8">8</option>
        <option [value]="9">9</option>
        <option [value]="10">10</option>
        <option [value]="11">11</option>
        <option [value]="12">12</option>
      </select>
    </div>
  </div>
  <div class="my-10 flex h-20 w-full items-center justify-center">
    @for (cell of cells; track $index) {
      <div
        class="m-5 h-20 w-20 cursor-pointer"
        [ngClass]="{ 'border border-solid border-gray-500': cell == EMPTY }"
        (click)="selected = cell"
      >
        <app-sokoban-cell [cell]="cell"></app-sokoban-cell>
        <span class="flex items-center justify-center" *ngIf="selected == cell"
          >⬆️</span
        >
      </div>
    }
  </div>
  <div class="flex w-full flex-col items-center justify-center">
    @for (items of board; track $index; let row = $index) {
      <div class="flex w-full items-center justify-center">
        @for (item of items; track $index; let col = $index) {
          <div class="flex h-20 w-20 items-center justify-center">
            <div class="cursor-pointer" (click)="setCell(row, col)">
              <app-sokoban-cell
                [cell]="item"
                class="h-20 w-20 cursor-pointer border border-gray-800 bg-white dark:border-gray-200 dark:bg-gray-800"
              ></app-sokoban-cell>
            </div>
          </div>
        }
      </div>
    }
  </div>
  <code
    class="mx-10 my-10 cursor-pointer rounded-md border border-solid border-zinc-200 bg-gray-100 p-4 text-zinc-600 dark:bg-gray-600 dark:text-zinc-200"
    (click)="copyJSON()"
  >
    {{ getJSON() }}
  </code>
</div>
