:host {
  width: 100%;
  height: 100%;
  display: block;
}

.wall {
  background-image: url('/assets/img/sokoban/wall.png');
  background-size: 100% 100%;
  border: 1px solid #000;
  font-size: 40px;
}

.box {
  background-image: url('/assets/img/sokoban/box.png');
  background-size: 100% 100%;
  background-size: cover;
  border: 1px solid #000;
  font-size: 36px;
}

.player {
  background-image: url('/assets/img/sokoban/player.png');
  background-size: 100% 100%;
  background-size: cover;
  font-size: 36px;
}

.target {
  background-image: url('/assets/img/sokoban/target.png');
  background-size: 100% 100%;
  background-size: cover;
  font-size: 36px;
}

.empty {}
